<!doctype html>
<html lang="en">

<head>
    <title>Product Display</title>
</head>

<body>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    {% include 'header.html' %}
    <table>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            {% for p in products %}
            <tr>
                <td>{{ p.name or p["name"] }}</td>
                <td>{{ p.category or p["category"] }}</td>
                <td>{{ p.price or p["price"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'footer.html' %}
</body>

</html>
